*{
    font-weight: 300;
}
.cart{
    display: flex;
    gap: 50px ;
    flex-wrap: wrap;
    justify-content: center;
}
.pro-heading{
    text-align: center;
    padding: 50px ;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
}
.pro{
    height: auto;
    width: 100vw;
    padding: 20px 50px;
}
.cart img :hover {
    transform: scale(1.2);
}