
nav{
    height: 12vh;
    width: 100vw;
    background-color: rgba(130, 130, 130, 0.605);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    color: #fff;
}
.links ul li{
    list-style: none;
    display: inline;
    padding: 0 20px;
}
.links ul li a{
    text-decoration: none;
}
.home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.l-home, .r-home{
    width: 50%;
}
.img-div{
    height: 80%;
    width: 80%;
}
.img-div img{
    height: 100%;
    width: 100%;
}